@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: black;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

/* Inline Spinner */
@keyframes inline-spinner-kf {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inlineSpinner {
  top: 3px;
  margin: 0 3px;

  &,
  &:before {
    display: inline-block;
    width: 11px;
    height: 11px;
    transform-origin: 50%;
    border: 2px solid transparent;
    border-color: #74a8d0 #74a8d0 transparent transparent;
    border-radius: 50%;
    content: "";
    animation: linear inline-spinner-kf 900ms infinite;
    position: relative;
    vertical-align: inherit;
    line-height: inherit;
  }

  &:before {
    border-color: #74a8d0 #74a8d0 transparent transparent;
    position: absolute;
    left: -2px;
    top: -2px;
    border-style: solid;
  }
}
